*{
    margin: 0;
    padding: 0;
    font-family:  "Roboto", sans-serif;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
.mrb{
    margin-bottom: 20px;
}
.demo{
    height: 300px;
    background-color: antiquewhite;
}
.btnanimation{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.header .header__top{
    height: 50px;
    background-color: #223a66;
}
.header > .header__top > .container{
    display: flex;
    justify-content: space-between;
}
.header__top > .container > .header__top-left{
    display: flex;
}
.header__top-left p{
    color: white;
    line-height: 50px;
    font-size: 14px;
}
.header__top-right button{
    padding: 5px 10px;
    margin-top: 11px;
    background-color: #e12454;
    border: none;
    border-radius: 5px;
}
.header__top-right button:hover{
    background-color: #223a66;
    border: #e12454 1px solid;
    cursor: pointer;
}
.header__top-right button a{
    color: white;
    text-decoration: none;
}
.header .header__menu{
    height: 90px;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.header .header__menu img{
    margin-top: 14px;
}
.header > .header__menu > .container{
    display: flex;
    justify-content: space-between;
}
.header__menu-menu > ul{
    display: flex;
    list-style: none;
    position: relative;
}
.header__menu-menu > ul > li{
    margin-top: 35px;
}
.header__menu-menu > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;
}
.header__menu-menu > ul > li > a::after{
    content: "";
    position: absolute;
    background-color: #e12454;
    height:3px;
    width: 0%;
    bottom: -10px;
    transition: all 0.4s ease;
    left: 0; 
}
.header__menu-menu > ul > li > a:hover::after{
    width: 100%;
}
.header__menu-menu > ul > li:hover > a{
    color: #e12454;
}
.header__menu-menu > ul > li:hover .submenu{
    display: block;
}
.header__menu-menu .submenu {
    border-top: #e12454 5px solid;
    margin-bottom: 10px;
    display: block;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}
.header__menu-menu .submenu a{
    text-decoration: none;
    color: #738ba4;
}
.header__menu-menu .submenu li{
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    padding-left: 20px;
}
.header__menu-menu .submenu li:hover a{
    color: #e12454;
}
.header__menu-menu .submenu li:hover{
    background-color: antiquewhite;
    cursor: pointer;
}
/* body css */
.boxtrai{
    float: left;
    width: 74%;
    margin-right: 2%;
}
.boxphai{
    float: left;
    width: 24%;
}
.boxphai .row{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f4f9fc;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.boxtitle{
    background-color: #223a66;
    padding: 10px;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.boxcontent{
    margin-bottom: 10px;
}
.boxcontent > form{
    margin-left: 20px;
}
.boxcontent > form > input{
    margin-top: 10px;
    height: 30px;
    padding-left: 10px;
}
.boxcontent > form > button{
    margin-top: 10px;
    padding: 5px 15px;
 
    border: none;
    background-color: #e12454;
    color: white;
    border-radius: 5px;
}
.boxcontent > form > button:hover{
    background-color:#223a66;
    cursor: pointer;
}
.boxcontent2 ul{
    list-style: none;
}
.boxcontent2 ul li{
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
}
.boxcontent2 ul li:hover{
    background-color: antiquewhite;
    cursor: pointer;
}
.boxcontent2 ul li a{
    text-decoration: none;
    color: #738ba4;
}
.boxcontent2 ul li:hover a{
    color: #e12454;
}
.boxfooter {
    padding-bottom: 10px;
}
.boxfooter > form{
    margin-top: 10px;
    margin-left: 20px;
}
.boxfooter > form > input{
    height: 30px;
    padding-left: 10px;
}
.boxfooter > form > button{
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    background-color: #e12454;
    color: white;
    border-radius: 5px;
}
.boxfooter > form > button:hover{
    background-color: #223a66;
    cursor: pointer;
}

/* slider css */
.row .banner{
    height: 300px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.row .banner img{
    width: 100%;
    height: 100%;
}

/* box sp css */
.row .boxsp{
    float: left;
    width: 31%;
    margin-right: 2%;
    background-color: #f4f9fc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 400px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.boxsp .img{
    height: 250px;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.boxsp .img img{
    height: 220px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    display: block;
}
.boxsp .img:hover img{
    transform: scale(1.1);
    cursor: pointer;
}
.boxsp p{
    margin: 15px 0;
    text-align: center;
    color: black;
}
.boxsp button{
    padding: 10px 15px;
    background-color: #e12454;
    border: none;
    border-radius: 5px;
}
.boxsp button:hover{
    background-color: #223a66;
    cursor: pointer;
}
.boxsp button a{
    text-decoration: none;
    color: white;
}
.buynow{
    background-color: #223a66;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: -38px;
    transition: all 0.4s ease-in-out;
}
.boxsp .img:hover .buynow{
    bottom: 0;
}
.boxsp .img:hover .buynow:hover{
    background-color: #46587a;
}

/* cam ket css */
.slider{
    height: 350px;
    background-color: #f4f9fc;
    border: 1px solid #dee2e6;
    padding-top: 20px;
    
}
.slider .slider__box{
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-top: 40px;
    display: flex;
}
.slider .slider__box .sliderimg{
    padding: 20px;
    background-color: white;
    height: 80px;
    border-radius: 60px;
    margin-right: 8px;
}
.slider__box .sliderimg img{
    height: 40px;
}
.slider__box .slider__box-text h2{
    margin-bottom: 20px;
    color: #223a66;
}
.slider__box .slider__box-text p{
    margin-top: 16px;
    color: #738ba4;
}

/* footer css */

.diver{
    width: 40px;
    height: 5px;
    background: #e12454;
}
.footer{
    background-color: #f4f9fc;
    height: 800px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #dee2e6;
    border-bottom: none;
    padding-bottom: 10px;
}
.footer .footer__box{
    float: left;
    width: 22%;
    margin-left: 2%;
    margin-top: 60px;
}
.footer .footer__box p{
    margin: 16px 0 20px 0;
    color: #738ba4;
}
.footer .footer__box button{
    margin-left: 15px;
    padding: 15px;
    background-color:  #738ba4;
    border-radius: 50px;
    border: none;
}
.footer .footer__box button:hover{
    background-color: #e12454;
    cursor: pointer;
}
.footer .footer__box button a{
    color: white;
}
.footer .footer__box h2{
    color: #223a66;
    margin-left: 20px;
}
.footer .footer__box ul{
    padding: 0;
    margin: 20px;
    list-style: none;
}
.footer__box ul li{
    padding: 10px 0;
}
.footer__box ul li a{
    text-decoration: none;
    color: #738ba4;
}
.footer__box ul li:hover a{
    color: #e12454;
}
.footer__box  .img__footer{
    height: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.footer__box  .img__footer img{
    height: 100%;
}
.footer .map{
    margin-top: 20px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* dang ki css */
.login{
    text-align: center;
}
.register__form{
    width: 30%;
    margin: 0 auto;
    background-color: #f4f9fc;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 20px;
    border: 1px solid #dee2e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.register__form .register__form-title{
    padding: 10px 0;
    background-color: #223a66;
    color: white;
}
.register__form input{
    padding-left: 10px;
}
.register__form button{
    color: white;
    background-color: #e12454;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}
.register__form button:hover{
    background-color:#223a66;
    cursor: pointer;
}

/* chi tiet sp */
.img__sp-chitiet{
    border: 1px solid #dee2e6;
    width: 38%;
    float: left;
    text-align: center;
    background-color: #f4f9fc;
    height: 400px;
    margin-right: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.img__sp-chitiet button{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #e12454;
    border: none;
}
.img__sp-chitiet > button > a{
    text-decoration: none;
    color: white;
}
.img__sp-chitiet > button:hover{
    background-color: #223a66;
    cursor: pointer;
}
.img__sp-chitiet img{
    width: 100%;
    height: 80%;
}
.content__sp-chitiet{
    width: 60%;
    float: left;
}
.content__sp-chitiet ul{
    list-style: none;
}
.content__sp-chitiet ul li{
    background-color: #f4f9fc;
    padding: 20px 0 20px 10px;
    border: 1px solid #dee2e6;
    color: rgb(9, 34, 145);
}
.content__sp-chitiet h4{
    line-height: 1.5;
}
.content__sp-chitiet a:hover{
    color: #e12454;
}

/* gio hang */
.giohang__product{
    border-bottom: #e12454 10px solid;
    margin: 30px 0 10px 0;
}
.giohang__product button{
    margin: 10px 0;
    padding: 5px 10px;
    background-color:#223a66;
    border: none;
    border-radius: 5px;
}
.giohang__product button a{
    color: white;
    text-decoration: none;
}
.giohang__product button:hover{
    background-color: #e12454;
    cursor: pointer;
}
table{
    text-align: center;
    width: 100%;
    background-color: #f4f9fc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
th{
    color: #223a66;
}
table, th, td{
    border:1px solid #ccc;
}
table{
    border-collapse:collapse;
}
.giohang__product-img{
    height: 100px;
}
.giohang__product-img > img{
    height: 100%;
}
.giohang__info{
    margin-top: 10px;
}
.giohang__info input{
    margin: 5px 0;
    height: 30px;
    padding-left: 10px;
}
.giohang__info input:focus{
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    border-color: #03a9f4;
}
.giohang__info button{
    margin: 10px 0;
    margin: 10px 0;
    padding: 5px 10px;
    background-color:#223a66;
    border: none;
    border-radius: 5px;
}
.giohang__info button a{
    color: white;
    text-decoration: none;
}
.giohang__info button:hover{
    background-color: #e12454;
    cursor: pointer;
}
.giohang__info > p{
    color: red;
}
.btnreduce{
    border-radius: 50px;
}
.btnincrese{
    border-radius: 50px;
}